# Optimization Problem

In [1]:
#importing problems into Python
from pulp import LpMaximize,LpProblem,LpVariable,LpConstraint, value
from pulp import COIN_CMD
from pulp import LpConstraintGE as GE
from pulp import LpConstraintLE as LE

#building a model and identifying variables

model = LpProblem(name='airplinemarket-problem', sense=LpMaximize)

x = LpVariable(name='San Diego', lowBound=0, cat='Continuous')
y = LpVariable(name="San Francisco", lowBound=0, cat="Continuous")
z = LpVariable(name="Las Vegas", lowBound=0, cat="Continuous")

Rev = 1900*x + 700*y + 1000*z

#applying constraints

C1 = LpConstraint(name='Flight-Price Constraint',
                 e= x+y+z, sense=LE, rhs=600)
C2 = LpConstraint(name='Cost Airfare',
                 e= 14*y + 40*z, sense=LE, rhs=0)

#solving model
model += Rev
model += C1
model += C2

#solver = COIN_CMD(msg=False)
result = model.solve() #solver

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/wolfy/Documents/anaconda3/envs/PUBPOL/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/sv/1bpgx38n2yn14wm9qk7cqmrc0000gn/T/b13dade30b2d4702bdaa22fdc9511903-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/sv/1bpgx38n2yn14wm9qk7cqmrc0000gn/T/b13dade30b2d4702bdaa22fdc9511903-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 7 COLUMNS
At line 16 RHS
At line 19 BOUNDS
At line 20 ENDATA
Problem MODEL has 2 rows, 3 columns and 5 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 0 (-2) rows, 0 (-3) columns and 0 (-5) elements
Empty problem - 0 rows, 0 columns and 0 elements
Optimal - objective value 1140000
After Postsolve, objective 1140000, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 1140000 - 0 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

In [2]:
print("Optimal Result")
for variable in model.variables():
    print (variable.name, "=", variable.varValue)

Optimal Result
Las_Vegas = 0.0
San_Diego = 600.0
San_Francisco = 0.0

In [3]:
print("Total net max profit:")
print (value(model.objective))

Total net max profit:
1140000.0

In [4]:
print("Slack/Surplus")
for name, constraint in model. constraints.items():
    print(name + ':' + str(constraint.value()))

Slack/Surplus
Flight_Price_Constraint:0.0
Cost_Airfare:0.0

# Social Simulation

In [5]:
#setting up strategies variable
strategies = ['Rock', 'Paper', 'Scissors','Lizard','Spock']

In [6]:
#applying rules
payoff={('Scissors','Paper'):(1,0),
        ('Paper', 'Scissors'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock', 'Paper'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard', 'Rock'):(0,1),
        ('Spock', 'Scissors'):(1,0),
        ('Scissors', 'Spock'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard', 'Scissors'):(0,1),
        ('Lizard', 'Paper'):(1,0),
        ('Paper', 'Lizard'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock', 'Paper'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Rock', 'Spock'):(0,1),
        ('Rock','Scissors'):(1,0),
        ('Scissors', 'Rock'):(0,1),
        ('Scissors', 'Scissors'):(0,0),
        ('Paper', 'Paper'):(0,0),
        ('Rock', 'Rock',):(0,0),
        ('Lizard', 'Lizard'):(0,0),
        ('Spock', 'Spock'):(0,0),
        ('Lizard', 'Spock'):(1,0),
        ('Spock', 'Lizard'):(0,1)}

In [7]:
from random import choice

#simples: choose randomly
choice(strategies)

'Spock'

In [8]:
#setting up players
Players = [{'name':'Magallanes', 'score':0, 'strategy':None},
           {'name':'Villanueva', 'score':0, 'strategy':None}]

In [9]:
#agent makes a choice
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [10]:
#payoff

result=payoff[Players[0]['strategy'], Players[1]['strategy']]

In [11]:
#applying scores on decisions made
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [12]:
#importing pandas to use function for social outcome

import pandas as pd

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

         name  score  strategy
0  Magallanes      1      Rock
1  Villanueva      0  Scissors

winnerScore = socialResults.score.max()

#social outcome
socialResults[socialResults.score===winnerScore]

In [13]:
names = ['Aldahnim', 'Blake', 'Dawson', 'Hu', 'Kang', 'Madlambayan','Magallanes', 'Moore', 'P', 'Patschke', 'Popic','Villanueva']

In [14]:
#setting up players
classmates = [{'name':n, 'score':0, 'strategy':None} for n in names]

In [15]:
classmates

[{'name': 'Aldahnim', 'score': 0, 'strategy': None},
 {'name': 'Blake', 'score': 0, 'strategy': None},
 {'name': 'Dawson', 'score': 0, 'strategy': None},
 {'name': 'Hu', 'score': 0, 'strategy': None},
 {'name': 'Kang', 'score': 0, 'strategy': None},
 {'name': 'Madlambayan', 'score': 0, 'strategy': None},
 {'name': 'Magallanes', 'score': 0, 'strategy': None},
 {'name': 'Moore', 'score': 0, 'strategy': None},
 {'name': 'P', 'score': 0, 'strategy': None},
 {'name': 'Patschke', 'score': 0, 'strategy': None},
 {'name': 'Popic', 'score': 0, 'strategy': None},
 {'name': 'Villanueva', 'score': 0, 'strategy': None}]

In [16]:
import itertools

#pair is a tuple of dicts
for pair in itertools.combinations(classmates,2):
    print (pair)

({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Blake', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Dawson', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Hu', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Kang', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Madlambayan', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Aldahnim', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Dawson', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Hu', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Kang', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Madlambayan', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Blake', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Hu', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Kang', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Madlambayan', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Dawson', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Kang', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Madlambayan', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Hu', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Madlambayan', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Kang', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'Magallanes', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Madlambayan', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Magallanes', 'score': 0, 'strategy': None}, {'name': 'Moore', 'score': 0, 'strategy': None})
({'name': 'Magallanes', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Magallanes', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Magallanes', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Magallanes', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Moore', 'score': 0, 'strategy': None}, {'name': 'P', 'score': 0, 'strategy': None})
({'name': 'Moore', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'Moore', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Moore', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'P', 'score': 0, 'strategy': None}, {'name': 'Patschke', 'score': 0, 'strategy': None})
({'name': 'P', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'P', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Patschke', 'score': 0, 'strategy': None}, {'name': 'Popic', 'score': 0, 'strategy': None})
({'name': 'Patschke', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})
({'name': 'Popic', 'score': 0, 'strategy': None}, {'name': 'Villanueva', 'score': 0, 'strategy': None})

In [17]:
import itertools

#each dict
for player1, player2 in itertools.combinations(classmates,2):
    print(player1, player2)

{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Blake', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Dawson', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Hu', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Kang', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Madlambayan', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Aldahnim', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Dawson', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Hu', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Kang', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Madlambayan', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Blake', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Hu', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Kang', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Madlambayan', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Dawson', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Kang', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Madlambayan', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Hu', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Madlambayan', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Kang', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'Magallanes', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Madlambayan', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Magallanes', 'score': 0, 'strategy': None} {'name': 'Moore', 'score': 0, 'strategy': None}
{'name': 'Magallanes', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Magallanes', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Magallanes', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Magallanes', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Moore', 'score': 0, 'strategy': None} {'name': 'P', 'score': 0, 'strategy': None}
{'name': 'Moore', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'Moore', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Moore', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'P', 'score': 0, 'strategy': None} {'name': 'Patschke', 'score': 0, 'strategy': None}
{'name': 'P', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'P', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Patschke', 'score': 0, 'strategy': None} {'name': 'Popic', 'score': 0, 'strategy': None}
{'name': 'Patschke', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}
{'name': 'Popic', 'score': 0, 'strategy': None} {'name': 'Villanueva', 'score': 0, 'strategy': None}

In [19]:
#resetting society

classmates = [{'name':n, 'score':0, 'strategy':None} for n in names]

#serveral rounds
for aRound in range(1000):
    
    #each round
    for player1,player2 in itertools.combinations(classmates,2):
        #each choose strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        #result from strategy chosen
        result=payoff[player1['strategy'], player2['strategy']]
        #update socres
        player1['score']+=result[0]
        player2['score']+=result[1]

In [20]:
#final situation
classmates

[{'name': 'Aldahnim', 'score': 4288, 'strategy': 'Lizard'},
 {'name': 'Blake', 'score': 4351, 'strategy': 'Scissors'},
 {'name': 'Dawson', 'score': 4363, 'strategy': 'Lizard'},
 {'name': 'Hu', 'score': 4366, 'strategy': 'Spock'},
 {'name': 'Kang', 'score': 4431, 'strategy': 'Scissors'},
 {'name': 'Madlambayan', 'score': 4403, 'strategy': 'Lizard'},
 {'name': 'Magallanes', 'score': 4478, 'strategy': 'Lizard'},
 {'name': 'Moore', 'score': 4394, 'strategy': 'Scissors'},
 {'name': 'P', 'score': 4364, 'strategy': 'Paper'},
 {'name': 'Patschke', 'score': 4402, 'strategy': 'Scissors'},
 {'name': 'Popic', 'score': 4403, 'strategy': 'Rock'},
 {'name': 'Villanueva', 'score': 4488, 'strategy': 'Paper'}]

In [21]:
#as a data frame
socialResults=pd.DataFrame(classmates)
socialResults

           name  score  strategy
0      Aldahnim   4288    Lizard
1         Blake   4351  Scissors
2        Dawson   4363    Lizard
3            Hu   4366     Spock
4          Kang   4431  Scissors
5   Madlambayan   4403    Lizard
6    Magallanes   4478    Lizard
7         Moore   4394  Scissors
8             P   4364     Paper
9      Patschke   4402  Scissors
10        Popic   4403      Rock
11   Villanueva   4488     Paper

In [22]:
winnerScore=socialResults.score.max()

#socialoutcome
socialResults[socialResults.score==winnerScore]

          name  score strategy
11  Villanueva   4488    Paper